In [13]:
from bs4 import BeautifulSoup #web scrapping.
import requests  #download a web page

Requirement already satisfied: lxml==4.6.4 in c:\users\xiaol\anaconda3\lib\site-packages (4.6.4)

In [2]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [3]:
soup = BeautifulSoup(html,"html.parser")

In [4]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [5]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

In [6]:
tag_object=soup.h3
tag_object

In [9]:
tag_child =tag_object.b
tag_child

In [10]:
parent_tag=tag_child.parent
parent_tag

In [11]:
sibling_1=tag_object.next_sibling
sibling_1

In [12]:
sibling_2=sibling_1.next_sibling
sibling_2

Use HTML Attributes

In [14]:
tag_child["id"]

'boldest'

In [15]:
tag_child.attrs

{'id': 'boldest'}

In [16]:
tag_child.string

'Lebron James'

Filter By find_all()

In [17]:
html="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [20]:
soup = BeautifulSoup(html, "html.parser")

In [21]:
print(soup.prettify())

<table>
 <tr>
  <td id="flight">
   Flight No
  </td>
  <td>
   Launch site
  </td>
  <td>
   Payload mass
  </td>
 </tr>
 <tr>
  <td>
   1
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Florida">
    Florida
    <a>
    </a>
   </a>
  </td>
  <td>
   300 kg
  </td>
 </tr>
 <tr>
  <td>
   2
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Texas">
    Texas
   </a>
  </td>
  <td>
   94 kg
  </td>
 </tr>
 <tr>
  <td>
   3
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Florida">
    Florida
    <a>
    </a>
   </a>
  </td>
  <td>
   80 kg
  </td>
 </tr>
</table>

In [24]:
table_rows = soup.find_all("tr")
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

In [25]:
first_row =table_rows[0]
first_row

In [26]:
first_row.td

In [27]:
soup.find_all(id="flight")

In [30]:
soup.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

dataFrame Ex

In [ ]:
```
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data
```