In [1]:
import glob                        
import pandas as pd               
from datetime import datetime

import urllib.request
import zipfile

In [2]:
#Files download and unzip
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip'
#This data source is released under the terms of the MIT License by Copyright Â© 2020 IBM Corporation.
file_name = 'source.zip'
urllib.request.urlretrieve(url, file_name)
with zipfile.ZipFile('./' + file_name, 'r') as zip_ref:
    zip_ref.extractall('./')

In [3]:
#Extract function
##CSV
def CSVExt(file): 
    dtFrame = pd.read_csv(file)
    return dtFrame

##JSON
def JSONExt(file):
    dtFrame = pd.read_json(file,lines=True)
    return dtFrame
    
    

#Extract loop function
def extLoop():
    dtFrame = pd.DataFrame(columns=["name","height","weight"])
    
    #CSV loop
    for x in glob.glob("*.csv"):
        dtFrame = dtFrame.append(CSVExt(x), ignore_index = True)
        
    #JSON loop
    for x in glob.glob("*.json"):
        dtFrame = dtFrame.append(JSONExt(x), ignore_index = True)
        
        
   
    return dtFrame

In [8]:
#Transform : inche to m, pound to kg
def convt(data):
    data['height'] = data.height*0.0254
    data['weight'] = data.weight * 0.45359237
    return data

In [11]:
readData = extLoop()
tranData = convt(readData)

display(tranData)
tranData.to_csv('isUnitData.csv', index=False)

C:\Users\patrick.s\AppData\Local\Temp\ipykernel_14428\3995241278.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dtFrame = dtFrame.append(CSVExt(x), ignore_index = True)
C:\Users\patrick.s\AppData\Local\Temp\ipykernel_14428\3995241278.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dtFrame = dtFrame.append(CSVExt(x), ignore_index = True)
C:\Users\patrick.s\AppData\Local\Temp\ipykernel_14428\3995241278.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dtFrame = dtFrame.append(CSVExt(x), ignore_index = True)
C:\Users\patrick.s\AppData\Local\Temp\ipykernel_14428\3995241278.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dtFrame = dtFrame.append(JSONExt(x), ignore_index = True)
C:\Users\patrick.s\AppData\Local\Temp\ipykernel_14428\3995241278.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dtFrame = dtFrame.append(JSONExt(x), ignore_index = True)
C:\Users\patrick.s\AppData\Local\Temp\ipykernel_14428\3995241278.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dtFrame = dtFrame.append(JSONExt(x), ignore_index = True)

     name    height     weight
0    alex  1.670812  51.251402
1    ajay  1.816608  61.910823
2   alice   1.76276   69.41324
3    ravi  1.732788  64.564338
4     joe  1.721866  65.453379
5    alex  1.670812  51.251402
6    ajay  1.816608  61.910823
7   alice   1.76276   69.41324
8    ravi  1.732788  64.564338
9     joe  1.721866  65.453379
10   alex  1.670812  51.251402
11   ajay  1.816608  61.910823
12  alice   1.76276   69.41324
13   ravi  1.732788  64.564338
14    joe  1.721866  65.453379
15   jack   1.74498  55.927939
16    tom   1.77292  64.178784
17  tracy  1.778254  61.897215
18   john   1.72466  50.970175
19   jack   1.74498  55.927939
20    tom   1.77292  64.178784
21  tracy  1.778254  61.897215
22   john   1.72466  50.970175
23   jack   1.74498  55.927939
24    tom   1.77292  64.178784
25  tracy  1.778254  61.897215
26   john   1.72466  50.970175